<div class="col-sm-9 no-right-padding no-left-padding" >
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>symbol: </strong> <%= @stock.ticker %>
    <strong>name: </strong> <%= @stock.name %>
    <strong>price: </strong> <%= @stock.last_price %>
    <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), 
                                    class: "btn btn-xs btn-success", method: :post %>
  </div>
<% end %>